//colors 
$white: #fff;
$primaryColor:#0F3D3E;
$secondaryColor:#100F0F;
$light:#E2DCC8;

//fonts
$mainFont: Arial, sans-serif;
$iconFont:'socialico';

//shadows
$mainShadow: 0.5px 0.9px 0 rgba(0,0,0,0.3);

//screens
$tablet: 'min-width:767px';
$desctop: 'min-width:1024px';